# Backend API URL (used for client and server side calls)
NEXT_PUBLIC_API_URL=http://127.0.0.1:5000/api

# Backend Base URL (used for socket connections, uploads, etc.)
NEXT_PUBLIC_BACKEND_URL=http://127.0.0.1:5000
